In [1]:
import numpy as np  
import pandas as pd  
import datetime as dt 
import matplotlib.pyplot as plt

In [2]:
path="C:/Users/user/Desktop/work_selim"
df_ventes = pd.read_csv("ventes.csv",sep="\t")
df_ventes.describe()

,Client_ID,Article_ID,Date_de_commande,Quantite_vendue,Montant
count,8.129950e+05,8.129950e+05,8.129950e+05,812995.000000,812938.000000
mean,1.837604e+06,9.134693e+06,2.018066e+07,97.114261,121.802895
std,2.930670e+06,3.269224e+06,3.474563e+02,1493.768056,955.591074
min,4.438870e+05,7.349956e+06,2.018010e+07,-400.000000,0.000000
25%,5.571910e+05,7.551780e+06,2.018033e+07,1.000000,10.900000
50%,6.922340e+05,7.650485e+06,2.018062e+07,3.000000,30.400000
75%,8.801420e+05,8.091841e+06,2.018100e+07,18.000000,84.276000
max,1.097081e+07,2.125109e+07,2.018123e+07,153600.000000,500000.000000

In [3]:
df_articles= pd.read_csv("articles.csv",sep="\t")
df_articles.describe()

         Article_ID
count  5.191500e+04
mean   1.183624e+07
std    5.252825e+06
min    7.349956e+06
25%    7.621428e+06
50%    7.993424e+06
75%    1.787521e+07
max    2.125109e+07

In [4]:
df_clients= pd.read_csv("clients.csv",sep="\t")
df_clients.describe()

          ID_Client
count  9.890000e+02
mean   3.431096e+06
std    4.198293e+06
min    4.438870e+05
25%    5.963450e+05
50%    7.920080e+05
75%    8.170002e+06
max    1.097081e+07

In [5]:
#merge
merged=pd.merge(df_ventes,df_articles,how="inner",on="Article_ID")
merged

,Client_ID,Article_ID,Date_de_commande,Quantite_vendue,Montant,Famille_Article,Segment_Article
0,10140122,7479731,20180517,100.0,NaN,Chemin de câble,"Conduits, canalisations"
1,474436,7479731,20180104,200.0,42.56,Chemin de câble,"Conduits, canalisations"
2,671028,7479731,20180611,200.0,73.04,Chemin de câble,"Conduits, canalisations"
3,10140122,7479731,20180503,100.0,31.52,Chemin de câble,"Conduits, canalisations"
4,10140122,7479731,20180503,100.0,31.52,Chemin de câble,"Conduits, canalisations"
...,...,...,...,...,...,...,...
812990,791859,21170643,20181213,10.0,1031.00,Protection résidentielle,Distribution d'énergie
812991,9290224,21170699,20181214,2.0,716.00,Equipements de chantier et d'atelier,Outillage et accessoire d'installation
812992,606626,21170951,20181218,5.0,657.00,Protection résidentielle,Distribution d'énergie
812993,468107,21173415,20181220,1.0,213.25,Equipements de chantier et d'atelier,Outillage et accessoire d'installation
812994,10130035,21183047,20181219,1.0,48.34,Equipements de chantier et d'atelier,Outillage et accessoire d'installation

In [6]:
df_clients.columns=['Client_ID','Effectif_Client', 'Categorie_Client']

In [7]:
ventes_all=pd.merge(merged,df_clients,how='inner',on="Client_ID")

In [8]:
filtered_ventes=ventes_all.dropna(subset=['Montant','Quantite_vendue'],axis=0,how='any')

In [9]:
filtered_ventes

,Client_ID,Article_ID,Date_de_commande,Quantite_vendue,Montant,Famille_Article,Segment_Article,Effectif_Client,Categorie_Client
1,10140122,7479731,20180503,100.0,31.5200,Chemin de câble,"Conduits, canalisations",>= 50 Employés,Util Tertiaire
2,10140122,7479731,20180503,100.0,31.5200,Chemin de câble,"Conduits, canalisations",>= 50 Employés,Util Tertiaire
3,10140122,7481186,20181219,4.0,389.4608,Puissance,Distribution d'énergie,>= 50 Employés,Util Tertiaire
4,10140122,7479905,20180626,1.0,2.9400,Appareillage terminal,Appareillage terminal et raccordement bâtiment,>= 50 Employés,Util Tertiaire
5,10140122,7479905,20181219,5.0,14.7000,Appareillage terminal,Appareillage terminal et raccordement bâtiment,>= 50 Employés,Util Tertiaire
...,...,...,...,...,...,...,...,...,...
812990,10930785,18387334,20180215,9.0,2997.0000,Luminaire,Eclairage,>= 50 Employés,BU Indus PMI
812991,10930785,18387334,20180215,10.0,3330.0000,Luminaire,Eclairage,>= 50 Employés,BU Indus PMI
812992,10911145,18716492,20180612,80.0,3520.0000,Luminaire,Eclairage,10-49 Employés,Util Tertiaire
812993,9880067,20081453,20180518,26.0,4539.6000,VDI,Communication et sécurité,0-5 Employés,BU Indus PMI
812994,10830273,19026734,20180117,1280.0,3920.1280,Câble industriel et de sécurité,Fils et câbles,6-9 Employés,Artisan

In [10]:
mean=filtered_ventes['Montant'].mean()

In [11]:
std=filtered_ventes['Montant'].std()
threshold=mean+3*std

In [18]:
#j=[x for x in range(0,filtered_ventes.shape[0]) if filtered_ventes['Montant'][x]>100]


Index_label = filtered_ventes[filtered_ventes['Montant']<=threshold]

In [19]:
Index_label

,Client_ID,Article_ID,Date_de_commande,Quantite_vendue,Montant,Famille_Article,Segment_Article,Effectif_Client,Categorie_Client
1,10140122,7479731,20180503,100.0,31.5200,Chemin de câble,"Conduits, canalisations",>= 50 Employés,Util Tertiaire
2,10140122,7479731,20180503,100.0,31.5200,Chemin de câble,"Conduits, canalisations",>= 50 Employés,Util Tertiaire
3,10140122,7481186,20181219,4.0,389.4608,Puissance,Distribution d'énergie,>= 50 Employés,Util Tertiaire
4,10140122,7479905,20180626,1.0,2.9400,Appareillage terminal,Appareillage terminal et raccordement bâtiment,>= 50 Employés,Util Tertiaire
5,10140122,7479905,20181219,5.0,14.7000,Appareillage terminal,Appareillage terminal et raccordement bâtiment,>= 50 Employés,Util Tertiaire
...,...,...,...,...,...,...,...,...,...
812980,464172,11010176,20180102,207.0,538.2000,Câble industriel et de sécurité,Fils et câbles,>= 50 Employés,GCN Instal.
812981,464172,11010176,20180102,207.0,538.2000,Câble industriel et de sécurité,Fils et câbles,>= 50 Employés,GCN Instal.
812984,10880844,19850345,20180404,1.0,950.0000,Luminaire,Eclairage,10-49 Employés,Installateur
812986,10891113,19952799,20180615,2.0,1930.0000,Luminaire,Eclairage,>= 50 Employés,GEIR
812987,10891113,19972746,20180615,2.0,1390.0000,Luminaire,Eclairage,>= 50 Employés,GEIR

In [20]:
Index_label["Montant_unitaire"]=Index_label["Montant"]/Index_label["Quantite_vendue"]

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
Index_label

,Client_ID,Article_ID,Date_de_commande,Quantite_vendue,Montant,Famille_Article,Segment_Article,Effectif_Client,Categorie_Client,Montant_unitaire
1,10140122,7479731,20180503,100.0,31.5200,Chemin de câble,"Conduits, canalisations",>= 50 Employés,Util Tertiaire,0.3152
2,10140122,7479731,20180503,100.0,31.5200,Chemin de câble,"Conduits, canalisations",>= 50 Employés,Util Tertiaire,0.3152
3,10140122,7481186,20181219,4.0,389.4608,Puissance,Distribution d'énergie,>= 50 Employés,Util Tertiaire,97.3652
4,10140122,7479905,20180626,1.0,2.9400,Appareillage terminal,Appareillage terminal et raccordement bâtiment,>= 50 Employés,Util Tertiaire,2.9400
5,10140122,7479905,20181219,5.0,14.7000,Appareillage terminal,Appareillage terminal et raccordement bâtiment,>= 50 Employés,Util Tertiaire,2.9400
...,...,...,...,...,...,...,...,...,...,...
812980,464172,11010176,20180102,207.0,538.2000,Câble industriel et de sécurité,Fils et câbles,>= 50 Employés,GCN Instal.,2.6000
812981,464172,11010176,20180102,207.0,538.2000,Câble industriel et de sécurité,Fils et câbles,>= 50 Employés,GCN Instal.,2.6000
812984,10880844,19850345,20180404,1.0,950.0000,Luminaire,Eclairage,10-49 Employés,Installateur,950.0000
812986,10891113,19952799,20180615,2.0,1930.0000,Luminaire,Eclairage,>= 50 Employés,GEIR,965.0000
812987,10891113,19972746,20180615,2.0,1390.0000,Luminaire,Eclairage,>= 50 Employés,GEIR,695.0000

In [22]:
filtered_ventes["Montant"]=filtered_ventes.groupby("Article_ID").transform(lambda x: x.fillna(x.mean()))

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:

filtered_ventes

,Client_ID,Article_ID,Date_de_commande,Quantite_vendue,Montant,Famille_Article,Segment_Article,Effectif_Client,Categorie_Client
1,10140122,7479731,20180503,100.0,10140122.0,Chemin de câble,"Conduits, canalisations",>= 50 Employés,Util Tertiaire
2,10140122,7479731,20180503,100.0,10140122.0,Chemin de câble,"Conduits, canalisations",>= 50 Employés,Util Tertiaire
3,10140122,7481186,20181219,4.0,10140122.0,Puissance,Distribution d'énergie,>= 50 Employés,Util Tertiaire
4,10140122,7479905,20180626,1.0,10140122.0,Appareillage terminal,Appareillage terminal et raccordement bâtiment,>= 50 Employés,Util Tertiaire
5,10140122,7479905,20181219,5.0,10140122.0,Appareillage terminal,Appareillage terminal et raccordement bâtiment,>= 50 Employés,Util Tertiaire
...,...,...,...,...,...,...,...,...,...
812990,10930785,18387334,20180215,9.0,10930785.0,Luminaire,Eclairage,>= 50 Employés,BU Indus PMI
812991,10930785,18387334,20180215,10.0,10930785.0,Luminaire,Eclairage,>= 50 Employés,BU Indus PMI
812992,10911145,18716492,20180612,80.0,10911145.0,Luminaire,Eclairage,10-49 Employés,Util Tertiaire
812993,9880067,20081453,20180518,26.0,9880067.0,VDI,Communication et sécurité,0-5 Employés,BU Indus PMI
812994,10830273,19026734,20180117,1280.0,10830273.0,Câble industriel et de sécurité,Fils et câbles,6-9 Employés,Artisan